<a class="item" href="{{.RepoLink}}#about">
	<i class="octicon octicon-info"></i> About
</a>
<a class="item" href="{{.RepoLink}}#dcat/show">
	<i class="octicon octicon-database"></i> Metadata
</a>
<a class="item" href="{{.RepoLink}}#code">
	<i class="octicon octicon-code"></i> Explore
</a>
<a class="item download-tab" href="{{.RepoLink}}/releases">
	<i class="octicon octicon-code"></i> Download
</a>
