.repository.file.list #repo-files-table td.name {
	max-width: 400px; /* make filename column wider */
}
.menu a.item[href="/"] {
	display: none !important; /* hide the Home button */
}

/* Reorder the repository navbar using flex layout */
.repository .navbar {
	display: flex;
}
.repository .navbar .item:first-child { display: none; } /* original code tab */
.repository .navbar .item[href$="#about"] { order: 1; }
.repository .navbar .item[href$="#dcat/show"] { order: 2; }
.repository .navbar .item[href$="/releases"]:not(.download-tab) { display: none; } /* original releases tab */
.repository .navbar .item[href$="/releases"] { order: 3; }
.repository .navbar .item[href$="#code"] { order: 4; }
.repository .navbar .item[href$="/wiki"] { order: 5; }
.repository .navbar .item[href$="/issues"] { order: 6; }
.repository .navbar .item[href$="/pulls"] { order: 7; }
.repository .navbar .item[href$="/activity"] { order: 8; }
.repository .navbar .right { order: 90; }

.dcat textarea {
	width: 276px;
	height: 60px;
	resize: none;
}

.dcat-metadata td,
.dcat-metadata th,
.dcat td,
.dcat th {
	text-align: left;
	border: 1px solid #ccc;
	padding: 4px;
	vertical-align: top;
}

.dcat-metadata .pre {
	white-space: pre-wrap;
}

.repository.file.list > .code-listing {
	display: none;
}

.repository.file.list[x-page="code"] > .code-listing {
	display: block;
}